
<app-navbar></app-navbar>
<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 m-auto">
        <div class="pages pt-5">
          <router-outlet></router-outlet>
        </div>
      </div>
      </div>
    </div>
</div>
<!-- Site footer -->
<footer class="site-footer fixed-end">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-6 col-xs-12">
        <audio #player src="{{_QuranService.audioSrc}}" class="audiplay position-fixed" controls></audio>

<!--        <ang-music-player #player [audioList]=_QuranService.audioSrc></ang-music-player>-->
      </div>

      <div class="col-md-2 col-sm-6 col-xs-12">
        <div class="social-icons">
          <p>{{this.data?.name}}</p>
        </div>
      </div>
    </div>
  </div>
</footer>


