<div class="home">

  <div class="row">


    <div class=" col-md-4" *ngFor="let qarae of _FavoriteService.quraa;let i = index">
      <div class="item d-block  p-2 mb-3 ">
        <div class="d-flex justify-content-between align-items-center">
          <a class="text-white text-decoration-none w-100" [routerLink]="['/home',qarae.id]">{{qarae.name}}</a>
          <i #favIcons
             [ngClass]="{'favIcon':!qarae.isFav,'far':!qarae.isFav,'fa-heart':true,'text-white':!qarae.isFav,'fas':qarae.isFav,'text-danger':qarae.isFav}"
             (click)="_FavoriteService.addToFav(qarae,i)"></i>

        </div>

      </div>
    </div>
  </div>

</div>
<ngx-spinner bdColor="rgb(61 91 136 / 92%)" size="medium" color="#fff" type="ball-clip-rotate-multiple"
             [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
