@import "./../../assets/scss/var.scss";

.item {
  background: $secondColor;
  border-radius: 2px;

  h6 {
    font-weight: 700;
    // color: rgb(33 28 28 / 42%)
  }

  .favIcon {
    cursor: pointer;
  }
}
